atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
Flask==2.1.1
Flask-Cors==3.0.10
flask-swagger-ui==3.36.0
fuzzywuzzy==0.18.0
greenlet==1.1.2
haversine==2.5.1
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
pathlib-mate==1.0.3
prettytable==3.2.0
pycodestyle==2.8.0
python-Levenshtein-wheels==0.13.2
requests==2.27.1
serverless-wsgi==3.0.0
six==1.16.0
SQLAlchemy==1.4.35
sqlalchemy-mate==1.4.28.3
toml==0.10.2
urllib3==1.26.9
uszipcode==1.0.1
wcwidth==0.2.5
Werkzeug==2.1.1
zipp==3.8.0
